target/
!.mvn/wrapper/maven-wrapper.jar
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Environment files
.env
.env.*
!.env.example

# Folder develop
/seperate-service/